.cid-r6E8hCdIcz17 {
  background-image: url("../../../assets/images/loja18/fotos07.jpg") !important;
}

.cid-r6zQ2QDSpE {
  background-image: url("../../../assets/images/_lojas/matriz.jpg") !important;
}

.cid-r6zM1REnXk .card-wrapper {
  border-radius: 10px !important;
  overflow: hidden !important;
}

.cid-r6zM0OLHaM .card-wrapper {
  overflow: hidden !important;
  border-radius: 10px !important;
}

.cid-r6zM18eCW5 .card-wrapper {
  overflow: hidden !important;
  border-radius: 10px !important;
}


.cid-r6E8hBE1Iq {
  background-image: url("../../../assets/images/loja17/img1.jpg") !important;

}

.cid-r6E8aaDIUG{
  background-image: url("../../../assets/images/_filial3/desc01.jpg") !important;

}

.cid-r6E8hCdIX17{
  background-image: url("../../../assets/images/loja17/img1.jpg") !important;

}